@charset "utf-8";

@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.c-gradationCircle {
  width: vw(600);
  height: vw(600);
  background: $gradient;
  filter: blur(25px);
  border-radius: 50%;
  &.-size-l {
    width: vw(1000);
    height: vw(1000);
  }
  &.-size-m {
    width: vw(700);
    height: vw(700);
  }
}
