@use '../Foundation/mixin' as *;
@use '../Foundation/variables' as *;

.c-locationNavi {
  position: fixed;
  top: 50%;
  right: vw(80);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @include mq-down(sm) {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    order: 1;
  }
  span {
    display: block;
    width: vw(15);
    height: vw(15);
    margin-left: auto;
    border: 1px solid $color-white;
    border-radius: 50%;
    @include notfirst() {
      margin-top: 40px;
      @include mq-down(sm) {
        margin-top: 0;
        margin-left: vw(20, $breakpoint-sm);
      }
    }
    @include mq-down(sm) {
      width: vw(10, $breakpoint-sm);
      height: vw(10, $breakpoint-sm);
    }
    &[data-location='true'] {
      background: $color-white;
    }
  }
  &__number {
    position: relative;
    min-width: 75px;
    min-height: 80px;
    font-family: $fontFamilyMain;
    &:before {
      position: absolute;
      top: 50%;
      left: -10px;
      width: 90px;
      height: 1px;
      content: '';
      background: $color-line;
      transform: rotate(-45deg);
    }
    span {
      @include fz(30, 30, 400);
      position: absolute;
      top: 0;
      left: 0;
      &:last-child {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
      }
    }
  }
}
