@charset "utf-8";

@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.c-snsList {
  display: flex;
  &__item {
    @include notlast() {
      margin-right: vw(30);
    }
  }
  img {
    max-width: 20px;
  }
}
