@charset "utf-8";

@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: vw($headerHeight);
    @include mq-down(sm) {
      min-height: vw(calc($headerHeight / 2), $breakpoint-sm);
    }
  }
  &__logo {
    @include fz(16, 22, 700);
    @include mq-down(sm) {
      @include fz(12, 22, 700, $breakpoint-sm);
    }
  }
  &__list {
    display: flex;
    @include fz(14, 31, 400);
  }
  &__item {
    @include notfirst() {
      margin-left: 30px;
    }
  }
}
