<%

// dir
const dir = '../'

const pageData = {
  pageName: 'works',
  title: 'KAITO NOTE Portforio | ABOUT',
  desc: 'description',
  ogType: 'website'
}

%>

<%- include (dir + 'inc/_head', {meta: pageData}) %>
<main class="l-page">
  <div class="l-container">
    <section class="p-mv__works">

    </section>
  </div>
</main>
<%- include (dir + 'inc/_footer', {meta: pageData}) %>
