@charset "utf-8";

@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.p-mv {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: vw($headerHeight);
  overflow-x: hidden;
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 25vh;
  }

  &__infoWrap {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding-bottom: vw(50);
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &__scrollDown {
    order: 0;
    max-width: vw(200);
    max-height: vw(200);
    cursor: pointer;
    animation: rotate 10s linear infinite;
    translate: transform $comMS $comES;
    @include mq-down(sm) {
      max-width: vw(75, $breakpoint-sm);
      max-height: vw(75, $breakpoint-sm);
    }
  }

  &__titleArea {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    margin-left: vw(80);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @include mq-down(sm) {
      margin-left: 0;
    }
  }

  .c-text {
    width: 50%;
    padding-left: vw(160);
    margin-top: vw(80);
    margin-left: auto;
    @include mq-down(sm) {
      width: 100%;
      padding-left: 0;
      margin-top: vw(20, $breakpoint-sm);
      margin-left: 0;
    }
  }

  .c-heading {
    position: relative;
  }

  .c-gradationCircle {
    position: absolute;
    top: 45%;
    right: vw(400);
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @include mq-down(sm) {
      right: vw(20, $breakpoint-sm);
    }
  }

  // about
  &__about {
    padding-top: vw(160);
    margin-top: vw($headerHeight);
    &--inner {
      display: flex;
    }
    &--textArea {
      width: 50%;
      .c-text {
        &:first-of-type {
          margin-top: 80px;
        }
        &:nth-child(3) {
          margin-top: 40px;
        }
        &:last-child {
          margin-top: 10px;
        }
      }
    }
    &--imageArea {
      display: flex;
      width: 50%;
      img {
        max-width: 500px;
      }
    }
  }
}
