<%

// dir
const dir = './'

const pageData = {
  pageName: 'top',
  title: 'KAITO NOTE Portforio',
  desc: 'description',
  ogType: 'website'
}

%>

<%- include (dir + 'inc/_head', {meta: pageData}) %>

<main class="l-page">
  <div class="l-container">

    <section class="p-mv">
      <div class="l-inner">
        <div class="p-mv__infoWrap">
          <div class="l-inner">
            <div class="p-mv__info">
              <div class="c-locationNavi">
                <span data-location="true"></span>
                <span data-location=false></span>
                <span data-location="false"></span>
                <span data-location="false"></span>
              </div>
              <img class="p-mv__scrollDown" src="/assets/images/top/image__scroll.png" alt="">
              <ul class="c-snsList">
                <li class="c-snsList__item"><a href="#"><img src="/assets/images/common/icon__github.png" alt=""></a></li>
                <li class="c-snsList__item"><a href="#"><img src="/assets/images/common/icon__github.png" alt=""></a></li>
                <li class="c-snsList__item"><a href="#"><img src="/assets/images/common/icon__github.png" alt=""></a></li>
                <li class="c-snsList__item"><a href="#"><img src="/assets/images/common/icon__github.png" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-mv__titleArea">
          <div class="l-inner -size-xm">
            <h1 class="c-heading"><span>Inspirational</span><br>Digital Creative</h1>
            <p class="c-text -size-xs">
              A PORTFOLIO SITE OF KAITO NOTE,<br>
              A FRONT-END ENGINEER AND<br>
              MOTION DESIGNER.
            </p>
          </div>
        </div>
        <div class="c-gradationCircle"></div>
      </div>
    </section>

    <section class="top__about -section-margin">
      <p class="c-text -bg">WEB DEVELOPMENT</p>
      <div class="l-inner -size-s">
        <div class="top__about--intro">
          <p class="c-text">
            <span class="-left">Web Development</span>
            <span class="-center">×</span>
            <span class="-right">Motion Design</span>
          </p>
          <div class="top__about--circle"></div>
        </div>
      </div>
            <p class="c-text -bg">MOTION DESIGNER</p>
      <div class="l-inner -size-s">
        <div class="top__about--content">
          <div class="top__about--imageArea">
            <img src="/assets/images/about/image__about-mv.jpg" alt="">
            <h2 class="c-heading -size-l">ABOUT</h2>
          </div>
          <div class="top__about--infoArea">
            <p class="c-text -size-xm">
              Kaito Note <span>/</span><span class="c-text -size-m"> 野手 凱斗</span>
            </p>
            <p class="c-text -size-m -font-main">
              My name is Kaito Note. <br>
              A digital creator doing<br>
              Front-end Development and Motion Design.
            </p>
            <p class="c-text -size-s">
              私はデジタルクリエイターです。<br>
              モーションデザインやフロントエンドエンジニアをしています。<br>
            </p>
            <div class="top__about--btnWrap">
              <a href="/about/" class="c-btn">VIEW MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="top__works -section-margin">
      <div class="l-inner -size-s">
        <div class="top__works--inner">
          <div class="c-gradationCircle -size-l"></div>
          <div class="top__works--headingArea">
            <h2 class="c-heading -size-l">WORKS</h2>
            <span></span>
          </div>
          <div class="top__works--textWrap">
            <p class="c-text -size-s">
              These are my achievements<br>
              in web and video production.<br>
            </p>
          </div>
          <ul class="top__works--list">
            <%- include(dir + 'modules/_top-works-list', {worksLists:[
              {
              title:"GROSSY",
              desc:"Art Direction / Motion Design /",
              image: "image__works_grossy.png"
              },
              {
              title:"AKATSUKI",
              desc:"These are my achievements<br>in web and video production.<br>",
              image: "image__works_grossy.png"
              },
              {
              title:"BRING",
              desc:"These are my achievements<br>in web and video production.<br>",
              image: "image__works_grossy.png"
              },
              {
              title:"AKATSUKI",
              desc:"These are my achievements<br>in web and video production.<br>",
              image: "image__works_grossy.png"
              },
              {
              title:"BRING",
              desc:"These are my achievements<br>in web and video production.<br>",
              image: "image__works_grossy.png"
              }
              ]})
            %>
          </ul>
          <div class="top__works--btnWrap">
            <a href="/works/#web" class="c-btn">WEB</a>
            <a href="/works/" class="c-btn">VIEW MORE</a>
            <a href="/works/#movie" class="c-btn">MOVIE</a>
          </div>
        </div>
      </div>
    </section>

    <section class="top__contact -section-margin">
      <div class="l-inner -size-s">
        <div class="top__contact--inner">
          <h2 class="c-heading -size-l">CONTACT</h2>
          <div class="top__contact--textArea">
            <p class="c-text -size-s">
              Web制作や映像制作のお仕事のご依頼を受け付けています。<br>
              メールよりお気軽にご連絡ください。
            </p>
            <p class="c-text -size-l -font-main">id_not@au.com</p>
          </div>
        </div>
      </div>
      <div class="c-gradationCircle -size-m"></div>
    </section>

  </div>
</main>
<%- include (dir + 'inc/_footer', {meta: pageData}) %>
