@charset "utf-8";

@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.about {
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: vw(160);
  }
  &__term {
    width: 100%;
    @include fz(68, 76, 400);
    @include tracking(200);
    font-family: $fontFamilyMain;

    @include notfirst() {
      margin-top: vw(80);
    }
  }
  &__desc {
    width: 100%;
    margin-top: vw(20);
    @include fz(20, 28, 400);
  }
}
