@charset "utf-8";

@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.top {
  &:before {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 1px;
    height: 100%;
    content: '';
    background: $color-line;
  }

  // about
  &__about {
    width: 100%;
    padding-top: 400px;

    .c-heading {
      position: relative;
      padding-right: 240px;
      text-align: right;
      &:before {
        position: absolute;
        top: -400px;
        left: 400px;
        width: 640px;
        height: 640px;
        content: '';
        border: solid 1px $color-line;
        border-radius: 50%;
      }
      &:after {
        position: absolute;
        right: 0;
        bottom: -120px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 0.5px;
        content: '';
        background: $color-line;
        transform: rotate(-45deg);
      }
    }

    .c-text {
      margin-top: 240px;
    }

    .c-btn {
      margin-top: 48px;
    }
  }

  // works
  &__works {
    position: relative;
    margin-top: vw(480);
    &--headingArea {
      display: flex;
      align-items: center;
      justify-content: center;
      .c-heading {
        width: calc(100% - vw(720));
      }
      span {
        display: block;
        width: 100%;
        height: 1px;
        background: $color-line;
      }
    }

    &--textWrap {
      display: flex;
      justify-content: flex-start;
      width: 50%;
      padding-top: vw(48);
      padding-left: vw(60);
      margin-left: auto;
    }

    .c-gradationCircle {
      position: absolute;
      top: vw(-400);
      left: -30%;
      z-index: -1;
    }

    &--list {
      margin-top: vw(160);
    }

    &--item {
      display: flex;
      @include notfirst() {
        margin-top: vw(160);
      }
      &:nth-child(odd) {
        flex-direction: row-reverse;
        .top__works--imageArea {
          padding-right: vw(60);
          padding-left: 0;
        }
      }
    }

    &--textArea,
    &--imageArea {
      width: 50%;
    }

    &--textArea {
      padding-left: vw(60);
      .c-heading {
        margin-top: vw(80);
      }

      .c-text {
        margin-top: vw(20);
      }
    }

    &--imageArea {
      padding-left: vw(60);
    }

    &--btnWrap {
      display: flex;
      justify-content: flex-end;
      padding-right: 160px;
    }

    .c-btn {
      margin-top: 160px;
      margin-left: auto;
    }
  }

  // contact
  &__contact {
    position: relative;
    padding-top: vw(320);
    padding-bottom: vw(160);
    overflow: hidden;
    &--inner {
      display: flex;
      justify-content: space-between;
    }
    &--textArea {
      width: 50%;
      padding-left: 60px;
      margin-top: 160px;
      .c-text:last-child {
        margin-top: 40px;
      }
    }
    .c-gradationCircle {
      position: absolute;
      right: 20%;
      bottom: -135px;
      z-index: -1;
      transform: skew(-10deg, -10deg);
    }
  }
}
